<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562404331838-llq8e9vars63n8jticugv53g1c1tnics.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562404331838-llq8e9vars63n8jticugv53g1c1tnics</string>
	<key>API_KEY</key>
	<string>AIzaSyC7O3eJaHIzjhh0p5qNxPgmFx6IdKm32s8</string>
	<key>GCM_SENDER_ID</key>
	<string>562404331838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ed.voip</string>
	<key>PROJECT_ID</key>
	<string>voip-d1a6a</string>
	<key>STORAGE_BUCKET</key>
	<string>voip-d1a6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562404331838:ios:4207e760c6ea9f253f9c6f</string>
</dict>
</plist>